<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% trans %} title.login {% endtrans %}</title>
</head>
<body>
<h1> {% trans %} title.login {% endtrans %}</h1>
{% if error %}
    <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path('login') }}" method="post">

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <label for="username">{% trans %} login.username {% endtrans %}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}"/>

    <label for="password">{% trans %} login.password {% endtrans %}</label>
    <input type="password" id="password" name="_password"/>

    <button type="submit">{% trans %} login.login {% endtrans %}</button>
</form>
</body>
</html>
